@import "./config";

.header{
    background-color: $intro-email;
    background-image: url("../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% calc(min(100%, 400px));
    @include atMediaQ(default){
        padding: 3em 4em;
    }

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5em;
    }

    .logo img{
        width: 100px;
        @include atMediaQ(default){
            width: 130px;
        }
    }

    .menu{
        display: flex;
        justify-content: center;
        gap: 1.5em;
        flex-wrap: wrap;

        a{
            font-family: $headers-CTA-nav-font;
            font-size: 0.85rem;
            transition: all 0.5s ease;
        }
        @include atMediaQ(default){
            &{
                gap: 3em;
            }

            & a:hover{
                text-decoration-color: inherit;
                font-weight: 700;
            }
        }
    }

    .hero{
        margin: 2.5em 0;

    }

    .intro{
        text-align: center;
        max-width: 530px;
        margin: 0 auto;
    }

    h1{
        font-size: 1.5rem;
        @include atMediaQ(default){
            font-size: 1.9rem;
        }
    }

    p{
        width: 90%;
        margin: 1em auto;
    }

    .get-started-link{
        display: block;
        background-image: linear-gradient(to right, $inside-all-to-action-gradient, $inside-call-to-action-gradient2);
        width: 80%;
        max-width: 260px;
        border-radius: 30px;
        margin: 2em auto;
        padding: 0.75em 0;
        font-family: $headers-CTA-nav-font;
        font-weight: 700;
        
        @include atMediaQ(default){
            &:hover{
                background-image: linear-gradient(to right,  $inside-all-to-action-gradient,  $inside-all-to-action-gradient);
            }
        }
    }
}

.main{
    background-color: $main-background;
}

.grid-features{

    & > *{
        text-align: center;
        width: 96%;
        max-width: 390px;
        margin: 5em auto; 

        h2{
            font-size: 1.2rem;
            margin-bottom: 0.5em;
        }
    }

    @include atMediaQ(700px){
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 5em;
        max-width: 1000px;
        margin: 0em auto;
        padding: 8em 2em;

        & > *{
            margin: 0;
        }

        .grid-item2{
            margin-top: -0.75em;
        }
    }
}


.productivity{

    max-width: 530px;
    margin: 0 auto;
    @include atMediaQ(default){
        display: flex;
        align-items: center;
        gap: 2em;
        max-width: 1000px;
    }

    h1{
        font-size: 1.1rem;
        margin-top: 2em;
        @include atMediaQ(default){
            font-size: 2rem;
            max-width: 300px;
            line-height: 1.4;
        }
    }

    p{
        margin: 1em 0;
    }

    .how-it-works{

        position: relative;
        width: max-content;

        & > *{
            vertical-align: middle;
        }

        #circle, a{
            transition: all 0.5s ease;
        }

        #circle{
            fill: #62E0D9;
        }

        a{ 
            color: $inside-all-to-action-gradient;
            font-size: 0.85rem;
            font-family: $body-text;
            margin-right: 0.1em;

            &::after{
                content: "";
                position: absolute;
                bottom: -1px;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: $inside-all-to-action-gradient;
                transition: all 0.5s ease;
                pointer-events: none;
            }

            @include atMediaQ(default){

                &:hover {
                    color: $text-color;
                }
    
                &:hover + svg {
                    #circle{
                        fill: white;
                    }
                }

                &:hover::after{
                    background-color: white;
                }
            }
        }
    }
}



.testiomonials{

    @include atMediaQ(default){
        display: flex;
        max-width: 1200px;
        gap: 1em;
        margin: 2em auto 0 auto;
    }

    .client{
        max-width: 450px;
        background-color: $testimonials-background;
        border-radius: 6px;
        margin: 2em auto;
        padding: 1.5em;
        @include atMediaQ(default){
            max-width: 400px;
        }

        p{
            font-size: 0.75rem;
            line-height: 1.8;
        }
        
        .user-info{
            display: flex;
            align-items: center;
            margin-top: 1.5em;
        }
        
        .avatar img{
            display: block;
            width: 35px;
            border-radius: 50%;
            margin-right: 1em;
        }

        .text-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h3{
            
            font-size: 0.75rem;
        }

        small{
            font-size: 0.65rem;
        }
    }

    .client:first-child{
        position: relative;
        background-color: transparent;
        z-index: 1;
        
        &::before{
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: $testimonials-background;
            border-radius: 6px;
            z-index: -1;
        }

        .quote-mark{
            position: absolute;
            width: 25px;
            top: -18px;
            left: 8px;
            z-index: -2;

            @include atMediaQ(default){
                width: 40px;
                top: -25px;
                left: -4px;
            }
        }
    }
}

.get-access{
    background-color: $intro-email;
    width: 88%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: -15%;
    text-align: center;
    border-radius: 6px;
    transform: translateY(50%);

    @include atMediaQ(default){
        margin-top: -5%;
    }

    h1{
        font-size: 1.2rem;
        @include atMediaQ(default){
            font-size: 1.7rem;
        }
    }

    p{
        font-size: 0.8rem;
        margin: 1em 0;
    }

    input, button{
        width: 100%;
        min-height: 50px;
        border-radius: 40px;
        border: none;
    }

    input{
        margin-top: 0.75em;
        padding: 0 1.5em;
        color: $inside-call-to-action-gradient2;

        &::placeholder{
            color: black;
        }

        &:focus, &:active{
            outline: 0;
        }
    }

    button{
        margin-top: 0.75em;
        background-image: linear-gradient(45deg, $inside-all-to-action-gradient, $inside-call-to-action-gradient2);
        font-family: $headers-CTA-nav-font;
        font-weight: 700;
        color: inherit;
        cursor: pointer;
    }

    .error-message{
        display: block;
        text-align: left;
        margin-left: 2em;
        margin-top: 0.25em;
        color: $light-red;
        font-size: 0.7rem;
        transition: all 0.5s ease;
        @include hideElements();
    }

    .error-message.mobile.active{
        @include showElements();
    }

    .error-message.desktop{
        display: none;
    }

    @include atMediaQ(default){
        form{
            display: flex;
            align-items: center;
            gap: 0.5em;
        }

        button{
            margin-top: 0;
            max-width: 200px;
            &:hover{
                background-image: linear-gradient(to right,  $inside-all-to-action-gradient,  $inside-all-to-action-gradient);
            }
        }

        .error-message.mobile{
            display: none;
        }

        .error-message.desktop{
            display: block;
        }

        .error-message.desktop.active{
            @include showElements();
        }
    }
}


.main .footer{
    background-color: $footer-background;
    padding-top: 200px;
    @include atMediaQ(default){
        padding-top: 150px;
    }
    
    &__content-wraper{
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-logo{
        margin: 1em 0 2em 0;
        @include atMediaQ(default){
            img{
                width: 100px;
            }
        }
    }

    .location{
        display: flex;
        max-width: 350px;

        img{
            display: block;
            align-self: flex-start;
            max-width: 20px;
            padding-top: 0.35em;
        }

        p{
            margin-left: 1.5em;
        }
        
    }

    .phone-number, .email{
        @extend .location;
        margin: 1em 0;
    }

    .phone-number img{
        width: 15px;
    }

    .about-us{
        margin: 3em 0;
    }

    .about-us li,
    .contact-us li{
        margin: 0.75em 0;

        a{
            font-family: $headers-CTA-nav-font;
        }
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 3em;

        i{
            display: grid;
            place-items: center;
            color: white;
            border: 1px solid white;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            font-size: 0.9rem;
            cursor: pointer;
            transition: all 0.5s ease ;

            @include atMediaQ(default){
                &:hover{
                    color: $inside-all-to-action-gradient;
                    border-color: $inside-all-to-action-gradient;
                }
            }
        }


    }

    @include atMediaQ(default){
        .location,
        .phone-number,
        .email,
        .about-us,
        .contact-us,
        .social-media,
        .about-us li:first-child,
        .contact-us li:first-child{
            margin: 0;
        }

        .about-us li a:hover,
        .contact-us li a:hover{
            font-weight: 700;
        }

        .email{
            margin-top: 1em;
        }

        .row{        
            display: grid;
            grid-template-columns:  minmax(320px, 1fr) repeat(auto-fill, minmax(160px, 1fr));
            justify-items: center;
            gap: 2em;
        }
    }
}